@keyframes fullWidth {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn-black {
  display: block;
  padding: 0.5rem 0.75rem;
  width: max-content;
  background: #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  gap: 0.5rem;
  border: 2px solid #000;
  transition: all 0.3s linear;
}
.btn-black:hover {
  background-color: #fff;
  color: #000;
}

header {
  height: 4rem;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
header .hd__modal {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  transform: translateX(-100%);
}
header .hd__modal .nav__mb {
  animation: slideIn 0.3s linear;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  background-color: #fff;
}
header .hd__modal .nav__mb .nav__mb__log {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .hd__modal .nav__mb ul {
  display: flex;
  flex-direction: column;
}
header .hd__modal .nav__mb ul a {
  display: block;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #272727;
  transition: all 0.3s ease-in;
}
header .hd__modal .nav__mb ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
header .hd__modal .nav__mb ul a .nav__link-left {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}
header .hd__menu__icon {
  color: #000000;
  font-size: 1.5rem;
  padding: 0.5rem;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  header .hd__menu__icon {
    display: block;
  }
}
header .hd__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .hd__container .hd__logo {
  max-width: 180px;
}
header .hd__container .hd__nav ul {
  display: flex;
  gap: 1rem;
}
header .hd__container .hd__nav ul a {
  color: #000;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  position: relative;
}
header .hd__container .hd__nav ul a::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
  animation: fullWidth 0.3s ease;
  background-color: #ae2424;
  display: none;
}
header .hd__container .hd__nav ul a:hover::before {
  display: block;
}
header .hd__container .hd__nav ul a.active::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ae2424;
}
@media screen and (max-width: 768px) {
  header .hd__container .hd__nav {
    display: none;
  }
}
header .hd__container .hd__auth {
  display: flex;
  gap: 1rem;
}
header .hd__container .hd__auth-icon {
  cursor: pointer;
}
header .hd__container .hd__cart {
  position: relative;
}
header .hd__container .hd__cart > span {
  position: absolute;
  top: -6px;
  right: -10px;
  font-size: 0.6rem;
  padding: 4px 6px;
  background-color: #ae2424;
  color: #fff;
  border-radius: 30% 50%;
}

main {
  margin-top: 4rem;
}

.banner {
  background-color: #f2f3ec;
  padding-top: 4rem;
}
.banner .bn__left {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 1rem;
}
.banner .bn__left > h5 {
  color: #ae2424;
}
.banner .bn__left > h3 {
  color: #000;
  font-weight: 600;
  font-size: 2rem;
}
.banner .bn__left > p {
  font-weight: 400;
  font-size: 0.8rem;
}
.banner .bn__left > a {
  display: block;
  padding: 0.5rem 0.75rem;
  width: max-content;
  background: #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  gap: 0.5rem;
  border: 2px solid #000;
  transition: all 0.3s linear;
}
.banner .bn__left > a:hover {
  background-color: #fff;
  color: #000;
}
.banner .bn__right {
  padding-top: 2rem;
  min-height: 500px;
  display: flex;
  align-items: flex-end;
}

.review {
  margin-top: 4rem;
}
.review .view__card {
  position: relative;
}
.review .view__card .view__bn {
  position: absolute;
  z-index: -1;
  width: 70%;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #f1eff2;
}
.review .view__card-content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.review .view__card-content .view__card-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.review .view__card-content .view__card-left > h3 {
  font-weight: 600;
  font-size: 1.2rem;
}
.review .view__card-content .view__card-left > a {
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  font-weight: 500;
  width: max-content;
}

.products .prs__nav-link {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s linear;
}
.products .prs__nav-link:hover {
  color: #000;
}
.products .prs__nav-link.active {
  color: #000;
}
.products .prs__cards .prs__card {
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.2s linear;
  position: relative;
}
.products .prs__cards .prs__card .prs-bannel {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 0.4rem 0.8rem;
  background-color: #fff;
  border-radius: 2px;
}
.products .prs__cards .prs__card .prs-bannel.black {
  background-color: #000;
  color: #fff;
}
.products .prs__cards .prs__card-content {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.products .prs__cards .prs__card-content > h4 {
  font-weight: 500;
}
.products .prs__cards .prs__card-content > h5 {
  font-weight: 600;
}
.products .prs__cards .prs__card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
.products .prs__ads {
  background-color: #f3f2ee;
}
.products .prs__ads .prs__ads__box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.products .prs__ads .prs__ads__box h3 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
}
.products .prs__ads .prs__ads__box h3.active {
  color: #000;
}
.products .prs__ads .prs__ads__box > span {
  color: #ae2424;
  font-style: italic;
}
.products .prs__ads .prs__ads__box h4 {
  font-weight: 600;
  font-size: 1.2rem;
}
.products .prs__ads .prs__ads__box h5 {
  font-size: 1.2rem;
  color: #ae2424;
  font-style: italic;
}

.socical .sc__group__img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.socical .sc__ig {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.socical .sc__ig h3 {
  font-weight: 600;
  color: #000;
  font-size: 1.8rem;
}
.socical .sc__ig p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.socical .sc__ig h4 {
  font-size: 1.4rem;
  color: #ae2424;
  font-weight: 600;
}

.lastnew > h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ae2424;
}
.lastnew > h2 {
  font-size: 1.8rem;
  font-weight: 500;
}
.lastnew .ln__card {
  position: relative;
  margin-bottom: 8rem;
}
.lastnew .ln__card .ln__ct {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6rem;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  width: 80%;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.lastnew .ln__card .ln__ct > p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.lastnew .ln__card .ln__ct > h4 {
  font-weight: 600;
  font-size: 1.4rem;
}
.lastnew .ln__card .ln__ct > a {
  width: max-content;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #272727;
  color: #fff;
  margin-top: 5rem;
}
footer .ft__box {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .ft__box > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  line-height: 1rem;
}
footer .ft__box > h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
footer .ft__box > a {
  color: #fff;
}
footer .ft__box > a:hover {
  border-bottom: 1px solid #ae2424;
}
footer .ft__box > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}
footer .ft__box > form input {
  background-color: transparent;
  outline: none;
  border: none;
  color: #f2f3ec;
}

.shop {
  padding-top: 3rem;
}
.shop .sb__shop-head {
  padding: 1rem 0;
}
.shop .sb__shop-head > h3 {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.shop .sb__shop-body .sb__shop-op .sb__shop-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  cursor: pointer;
}
.shop .sb__shop-body .sb__shop-op .sb__shop-view .dash-icon {
  display: none;
}
.shop .sb__shop-body .sb__shop-op:not(.shop .sb__shop-body .sb__shop-op:last-child) {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.shop .sb__shop-body .sb__shop-op .sb__shop-choices {
  animation: fadeIn 1s linear;
  padding: 0.5rem 0;
  overflow: hidden;
  height: 0;
  display: none;
  transition: all 0.3s linear;
}
.shop .sb__shop-body .sb__shop-op .sb__shop-choices .sb__shop-choices-btngr {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.shop .sb__shop-body .sb__shop-op .sb__shop-choices .sb__shop-choices-btngr span {
  width: max-content;
  display: block;
  padding: 0.5rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.shop .sb__shop-body .sb__shop-op .sb__shop-choices .sb__shop-choices-btngr span:hover {
  border-color: #000;
}
.shop .sb__shop-buttions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.shop .sb__shop-buttions button {
  padding: 0.6rem 1rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px 16px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #272727;
}
.shop .sb__shop-buttions button.bl {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.shop .pagination {
  gap: 0.5rem;
}
.shop .pagination button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0.5rem 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.shop .pagination button.active {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.proItem {
  padding-top: 1rem;
}
.proItem .proItem__grImgs {
  display: flex;
  justify-content: center;
}
.proItem .proItem__grImgs .proItem__mainImg {
  width: 500px;
  max-width: 100%;
}
.proItem .proItem__grImgs .proItem__smaiImgs {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.proItem .proItem__if {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .proItem .proItem__if {
    margin-top: 2rem;
  }
}
.proItem .proItem__if > h2 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 32px;
  color: #221f20;
}
.proItem .proItem__if .proItem__id__rt {
  margin-top: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  color: #6c6d70;
  gap: 1rem;
}
.proItem .proItem__if .proItem__id__rt i {
  color: #eeb256;
}
.proItem .proItem__if .price {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #221f20;
}
.proItem .proItem__if .prI__color > h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #221f20;
  margin-bottom: 0;
}
.proItem .proItem__if .prI__color .prI__color__select {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}
.proItem .proItem__if .prI__color .prI__color__select button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  outline: none;
}
.proItem .proItem__if .prI__size .prI__size__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.proItem .proItem__if .prI__size .prI__size__btns button {
  padding: 0.6rem 1rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px 16px;
  font-weight: 500;
  font-size: 1.2rem;
  color: #666;
}
.proItem .proItem__if .prI__size .prI__checkSize {
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}
.proItem .proItem__if .prI__qty {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
}
.proItem .proItem__if .prI__qty .prI__qty__input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  border-radius: 20px 0px;
}
.proItem .proItem__if .prI__qty .prI__qty__input input {
  width: 50px;
  outline: none;
  border: none;
  padding: 0.4rem 0.8rem;
}
.proItem .proItem__if .prI__qty .prI__qty__input button {
  padding: 0 0.8rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.proItem .proItem__if .prI__qty .prI__qty__input .prI__icon__plus {
  border-radius: 0 0 20px 0;
}
.proItem .proItem__if .prI__qty .prI__qty__input .prI__icon__dash {
  border-radius: 20px 0 0 0;
}
.proItem .proItem__if .prI__btns {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.proItem .proItem__if .prI__btns button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 20px 0;
  font-size: 1.2rem;
  color: #221f20;
  cursor: pointer;
  transition: all 0.4s;
}
.proItem .proItem__if .prI__btns button.active {
  background-color: #272727;
  color: #fff;
}
.proItem .proItem__if .prI__btns button:hover {
  background-color: #272727;
  color: #fff;
}

.prI__qty__input {
  width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  border-radius: 20px 0px;
}
.prI__qty__input input {
  width: 50px;
  outline: none;
  border: none;
  padding: 0.4rem 0.8rem;
  background-color: transparent;
}
.prI__qty__input button {
  padding: 0 0.8rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.prI__qty__input .prI__icon__plus {
  border-radius: 0 0 20px 0;
}
.prI__qty__input .prI__icon__dash {
  border-radius: 20px 0 0 0;
}

.cart .pr__if-tb {
  display: flex;
  gap: 0.5rem;
}
.cart .pr__if-tb img {
  width: 120px;
}
.cart .pr__if-tb .pr__if-ct {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #6c6d70;
}
.cart table {
  text-align: start;
}
.cart table td {
  vertical-align: top;
}
.cart table .pr__total-tb {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
