$height-header: 4rem;
$red-color: #ae2424;
$base-color: #f2f3ec;

.show__loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fullWidth {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn-black {
    display: block;
    padding: 0.5rem 0.75rem;
    width: max-content;

    background: #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    gap: 0.5rem;
    border: 2px solid #000;
    transition: all 0.3s linear;

    &:hover {
        background-color: #fff;
        color: #000;
    }
}

header {
    height: $height-header;
    background-color: #fff;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;

    & .hd__search__show {
        position: absolute;
        right: 20px;
        bottom: 0;
        background-color: #000;
        width: 300px;
        max-width: 100%;
        transform: translateY(100%);
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
        border-radius: 5px;
        animation: fadeIn 0.3s linear;
        display: none;

        & .hd__search__input {
            display: flex;
            align-items: center;
            border-bottom: 2px solid #272727;
            padding: 0.5rem;

            & input {
                border: none;
                outline: none;
                flex: 1;
            }

            & i {
                padding: 0 0.5rem;
                cursor: pointer;
            }
        }

        & .hd__prs__search {
            & .hd__pr-item {
                display: flex;
                align-items: center;
                font-size: 0.8rem;
                padding: 0.5rem 0;
                gap: 10px;
                padding: 0.5rem;
                cursor: pointer;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
                &:hover {
                    background-color: rgba($color: #000000, $alpha: 0.1);
                }
                & .hd__pr-img {
                    width: 50px;
                    flex-shrink: 0;
                }

                & .hd__pr-ct {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;
                    & h3 {
                        font-weight: 600;
                    }

                    & span {
                        font-weight: 500;
                    }
                    & p {
                        font-size: 0.6rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;
                    }
                }
            }
        }
    }

    & .hd__modal {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        transition: all 0.3s linear;
        transform: translateX(-100%);
        & .nav__mb {
            animation: slideIn 0.3s linear;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 300px;
            max-width: 100%;
            background-color: #fff;

            & .nav__mb__log {
                padding: 1rem;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
            }

            & ul {
                display: flex;
                flex-direction: column;

                & a {
                    display: block;
                    padding: 0.8rem 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #272727;
                    transition: all 0.3s ease-in;

                    &:hover {
                        background-color: rgba($color: #000000, $alpha: 0.1);
                    }
                    & .nav__link-left {
                        display: flex;
                        gap: 1rem;
                        align-items: flex-end;
                    }
                }
            }
        }
    }

    & .hd__menu__icon {
        color: #000000;
        font-size: 1.5rem;
        padding: 0.5rem;
        display: none;
        cursor: pointer;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    & .hd__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        & .hd__logo {
            max-width: 180px;
        }

        & .hd__nav ul {
            display: flex;
            gap: 1rem;

            & a {
                color: #000;
                font-weight: 500;
                transition: all 0.3s ease-in-out;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    height: 2px;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    animation: fullWidth 0.3s ease;
                    background-color: $red-color;
                    display: none;
                }

                &:hover {
                    &::before {
                        display: block;
                    }
                }

                &.active::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background-color: $red-color;
                }
            }
        }

        @media screen and (max-width: 768px) {
            & .hd__nav {
                display: none;
            }
        }

        & .hd__auth {
            display: flex;
            gap: 1rem;
            height: 100%;
            align-items: center;

            &-icon {
                cursor: pointer;
            }

            & .icon-close__header {
                display: none;
            }
        }

        & .hd__cart {
            position: relative;
            & > span {
                position: absolute;
                top: -6px;
                right: -10px;
                font-size: 0.6rem;
                padding: 4px 6px;
                background-color: $red-color;
                color: #fff;
                border-radius: 30% 50%;
            }
        }
    }
}

main {
    margin-top: $height-header;
}

.banner {
    background-color: $base-color;
    padding-top: $height-header;

    & .bn__left {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        gap: 1rem;

        & > h5 {
            color: $red-color;
        }

        & > h3 {
            color: #000;
            font-weight: 600;
            font-size: 2rem;
        }

        & > p {
            font-weight: 400;
            font-size: 0.8rem;
        }

        & > a {
            display: block;
            padding: 0.5rem 0.75rem;
            width: max-content;

            background: #000000;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-weight: 500;
            gap: 0.5rem;
            border: 2px solid #000;
            transition: all 0.3s linear;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }

    & .bn__right {
        padding-top: 2rem;
        min-height: 500px;
        display: flex;
        align-items: flex-end;
    }
}

.review {
    margin-top: 4rem;

    & .view__card {
        position: relative;

        & .view__bn {
            position: absolute;
            z-index: -1;
            width: 70%;
            right: 0;
            top: 0;
            height: 100%;
            background-color: #f1eff2;
        }
    }

    & .view__card-content {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;

        & .view__card-left {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            & > h3 {
                font-weight: 600;
                font-size: 1.2rem;
            }

            & > a {
                color: rgba(0, 0, 0, 0.7);
                border-bottom: 1px solid rgba(0, 0, 0, 0.7);
                font-weight: 500;
                width: max-content;
            }
        }
    }
}

.products {
    & .prs__nav-link {
        color: rgba(0, 0, 0, 0.3);
        font-weight: 500;
        font-size: 1.2rem;
        transition: all 0.3s linear;
        &:hover {
            color: #000;
        }

        &.active {
            color: #000;
        }
    }

    & .prs__cards {
        & .prs__card {
            cursor: pointer;
            margin-bottom: 2rem;
            transition: all 0.2s linear;
            position: relative;

            & .prs-bannel {
                position: absolute;
                top: 10px;
                left: 0;
                padding: 0.4rem 0.8rem;
                background-color: #fff;
                border-radius: 2px;

                &.black {
                    background-color: #000;
                    color: #fff;
                }
            }

            // &-img {
            //     background-color: #f1eff2;
            // }

            &-content {
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                & > h4 {
                    font-weight: 500;
                }

                & > h5 {
                    font-weight: 600;
                }
            }

            &:hover {
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                transform: translateY(-10px);
            }
        }
    }

    & .prs__ads {
        background-color: #f3f2ee;

        & .prs__ads__box {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & h3 {
                font-weight: 500;
                color: rgba($color: #000000, $alpha: 0.3);
                &.active {
                    color: #000;
                }
            }

            & > span {
                color: $red-color;
                font-style: italic;
            }

            & h4 {
                font-weight: 600;
                font-size: 1.2rem;
            }

            & h5 {
                font-size: 1.2rem;
                color: $red-color;
                font-style: italic;
            }
        }
    }
}

.socical {
    & .sc__group__img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    & .sc__ig {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & h3 {
            font-weight: 600;
            color: #000;
            font-size: 1.8rem;
        }

        & p {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;

            color: rgba(0, 0, 0, 0.5);
        }

        & h4 {
            font-size: 1.4rem;
            color: $red-color;
            font-weight: 600;
        }
    }
}

.lastnew {
    & > h3 {
        font-size: 1.2rem;
        font-weight: 500;
        color: $red-color;
    }

    & > h2 {
        font-size: 1.8rem;
        font-weight: 500;
    }

    & .ln__card {
        position: relative;
        margin-bottom: 8rem;

        &-img img {
            width: 100%;
        }
        & .ln__ct {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -6rem;
            background-color: #fff;
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
            border-radius: 3px;
            width: 80%;
            padding: 0.5rem 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & > p {
                color: rgba($color: #000000, $alpha: 0.5);
                font-weight: 500;
            }

            & > h4 {
                font-weight: 600;
                font-size: 1.4rem;
            }

            & > a {
                width: max-content;
                color: rgba($color: #000000, $alpha: 0.5);
                font-weight: 500;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
            }
        }
    }
}

footer {
    background-color: #272727;
    color: #fff;
    margin-top: 5rem;

    & .ft__box {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & > p {
            color: rgba(255, 255, 255, 0.5);
            font-size: 0.8rem;
            line-height: 1rem;
        }

        & > h3 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            font-weight: 600;
        }

        & > a {
            color: #fff;
            &:hover {
                border-bottom: 1px solid $red-color;
            }
        }

        & > form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ffffff;

            & input {
                background-color: transparent;
                outline: none;
                border: none;
                color: #f2f3ec;
            }
        }
    }
}

.shop {
    padding-top: 3rem;

    & .sb__shop-head {
        padding: 1rem 0;
        & > h3 {
            font-size: 1.2rem;
            color: rgba($color: #000000, $alpha: 0.8);
            font-weight: 500;
        }
    }

    & .sb__shop-body {
        & .sb__shop-op {
            & .sb__shop-view {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.8rem 0;
                cursor: pointer;

                & .dash-icon {
                    display: none;
                }
            }

            &:not(&:last-child) {
                border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.1);
            }

            & .sb__shop-choices {
                animation: fadeIn 1s linear;
                padding: 0.5rem 0;
                overflow: hidden;
                height: 0;
                display: none;
                transition: all 0.3s linear;
                & .sb__shop-choices-btngr {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;

                    & span {
                        width: max-content;
                        display: block;
                        padding: 0.5rem 0.8rem;
                        border: 1px solid rgba($color: #000000, $alpha: 0.1);
                        border-radius: 5px 10px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            border-color: #000;
                        }
                    }
                }
            }
        }
    }

    & .sb__shop-buttions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & button {
            padding: 0.6rem 1rem;
            background-color: transparent;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);
            border-radius: 8px 16px;
            font-weight: 500;
            font-size: 1.2rem;
            color: #272727;

            &.bl {
                background-color: #000;
                border-color: #000;
                color: #fff;
            }
        }
    }
}

.shop {
    & .pagination {
        gap: 0.5rem;

        & button {
            border: none;
            outline: none;
            background-color: transparent;
            padding: 0.5rem 0.8rem;
            border: 1px solid rgba($color: #000000, $alpha: 0.1);

            &.active {
                background-color: #000;
                color: #fff;
                border-color: #000;
            }
        }
    }
}

.proItem {
    padding-top: 1rem;
    & .proItem__grImgs {
        display: flex;
        justify-content: center;

        & .proItem__mainImg {
            width: 500px;
            max-width: 100%;
        }

        & .proItem__smaiImgs {
            width: 100px;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem;
        }
    }

    & .proItem__if {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @media screen and(max-width: 1024px) {
            margin-top: 2rem;
        }

        & > h2 {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 32px;
            color: #221f20;
        }

        & .proItem__id__rt {
            margin-top: 16px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-size: 16px;
            line-height: 24px;
            color: #6c6d70;
            gap: 1rem;

            & i {
                color: #eeb256;
            }
        }

        & .price {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #221f20;
        }

        & .prI__color {
            & > h3 {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #221f20;
                margin-bottom: 0;
            }

            & .prI__color__select {
                margin-top: 1rem;
                display: flex;
                gap: 0.5rem;

                & button {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    border: none;
                    outline: none;
                }
            }
        }

        & .prI__size {
            & .prI__size__btns {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                padding-bottom: 0.5rem;
                & button {
                    padding: 0.6rem 1rem;
                    background-color: transparent;
                    border: 1px solid rgba($color: #000000, $alpha: 0.1);
                    border-radius: 8px 16px;
                    font-weight: 500;
                    font-size: 1.2rem;
                    color: #666;
                }
            }

            & .prI__checkSize {
                margin-top: 12px;
                font-size: 12px;
                line-height: 16px;
                display: flex;
                gap: 0.5rem;
                align-items: center;
                cursor: pointer;
            }
        }

        & .prI__qty {
            display: flex;
            gap: 1rem;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 500;
            color: #666;
            & .prI__qty__input {
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                display: flex;
                overflow: hidden;
                border-radius: 20px 0px;

                & input {
                    width: 50px;
                    outline: none;
                    border: none;
                    padding: 0.4rem 0.8rem;
                }

                & button {
                    padding: 0 0.8rem;
                    background-color: transparent;
                    border: 1px solid rgba($color: #000000, $alpha: 0.1);
                }

                & .prI__icon__plus {
                    border-radius: 0 0 20px 0;
                }

                & .prI__icon__dash {
                    border-radius: 20px 0 0 0;
                }
            }
        }

        & .prI__btns {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;

            & button {
                border: 1px solid rgba($color: #000000, $alpha: 0.3);
                padding: 0.5rem 1rem;
                background-color: #fff;
                border-radius: 20px 0;
                font-size: 1.2rem;
                color: #221f20;
                cursor: pointer;
                transition: all 0.4s;

                &.active {
                    background-color: #272727;
                    color: #fff;
                }

                &:hover {
                    background-color: #272727;
                    color: #fff;
                }
            }
        }
    }
}

.prI__qty__input {
    width: max-content;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    display: flex;
    overflow: hidden;
    border-radius: 20px 0px;

    & input {
        width: 50px;
        outline: none;
        border: none;
        padding: 0.4rem 0.8rem;
        background-color: transparent;
    }

    & button {
        padding: 0 0.8rem;
        background-color: transparent;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
    }

    & .prI__icon__plus {
        border-radius: 0 0 20px 0;
    }

    & .prI__icon__dash {
        border-radius: 20px 0 0 0;
    }
}

.cart {
    & .pr__if-tb {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        & img {
            width: 120px;
        }

        & .pr__if-ct {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            color: #6c6d70;
        }
    }

    & table {
        text-align: start;

        & td {
            vertical-align: top;
        }

        & .pr__total-tb {
            display: flex;
            gap: 1rem;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    & .cart__result {
        padding-top: 5rem;

        &__ct {
            padding: 1rem;
            background: rgba(247, 248, 249, 0.5);
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.1);
            color: #333;
            display: flex;
            flex-direction: column;
            font-weight: 500;
            gap: 1rem;
            & h3 {
                font-size: 1.5rem;
            }

            & div {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & span:nth-child(2) {
                    font-weight: 600;
                    font-size: 1rem;
                }

                & i,
                p {
                    color: #28a745;
                    font-size: 0.8rem;
                }
            }
            & .if__ship {
                justify-content: start;
                gap: 0.5rem;
            }
        }
    }
    & .cart__btn__buy {
        padding-top: 2rem;
        & button {
            width: 100%;
            padding: 0.6rem 0rem;
            background-color: #000000;
            color: #fff;
            font-weight: 600;
            font-size: 1.4rem;
            border-radius: 20px 4px;
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
        }
    }
}
