<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap-icon.css" />
        <link rel="stylesheet" href="../css/base.css" />
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/contact.css" />

        <title>Contact</title>
    </head>
    <body>
        <div class="show__loader">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <header>
            <div class="hd__modal">
                <div class="nav__mb">
                    <div class="nav__mb__log">
                        <img src="../images/male_mashion.png" alt="" />
                    </div>
                    <ul>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-house"></i>
                                    <span>Home</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-shop"></i>
                                    <span>Shop</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-newspaper"></i>
                                    <span>Blog</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-chat-left-quote"></i>
                                    <span>Contact</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hd__container container">
                <div class="hd__menu__icon">
                    <i class="bi bi-list"></i>
                </div>

                <div class="hd__logo">
                    <img src="../images/male_mashion.png" alt="" />
                </div>
                <div class="hd__nav">
                    <ul>
                        <li><a class="active" href="">Home</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="hd__auth">
                    <div class="hd__auth-icon">
                        <img
                            src="../bootstrap/bootstrapIcons/search.svg"
                            alt=""
                        />
                    </div>
                    <div class="hd__auth-icon">
                        <img
                            src="../bootstrap/bootstrapIcons/heart.svg"
                            alt=""
                        />
                    </div>
                    <div class="hd__auth-icon hd__cart">
                        <span>12</span>
                        <img src="../bootstrap/bootstrapIcons/bag.svg" alt="" />
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="ds-top"></div>
                            <div class="avatar-holder">
                                <img
                                    src="../images/avt_3.jpg"
                                    alt="Le Huu Toan"
                                />
                            </div>
                            <div class="name">
                                <a href="#" target="_blank">Lê Hữu Toàn</a>
                                <h6 title="Followers">
                                    <i class="fas fa-users"></i>
                                    <span class="followers">3.012</span>
                                </h6>
                            </div>
                            <div class="button">
                                <a href="#" class="btn" onmousedown="follow();"
                                    >Follow <i class="fas fa-user-plus"></i
                                ></a>
                            </div>
                            <div class="ds-info">
                                <div class="ds pens">
                                    <h6
                                        title="Number of pens created by the user"
                                    >
                                        Pens <i class="fas fa-edit"></i>
                                    </h6>
                                    <p>40%</p>
                                </div>
                                <div class="ds projects">
                                    <h6
                                        title="Number of projects created by the user"
                                    >
                                        Projects
                                        <i class="fas fa-project-diagram"></i>
                                    </h6>
                                    <p>06</p>
                                </div>
                                <div class="ds posts">
                                    <h6 title="Number of posts">
                                        Posts <i class="fas fa-comments"></i>
                                    </h6>
                                    <p>06</p>
                                </div>
                            </div>
                            <div class="ds-skill">
                                <h6>
                                    Skill
                                    <i
                                        class="fa fa-code"
                                        aria-hidden="true"
                                    ></i>
                                </h6>
                                <div class="skill html">
                                    <h6><i class="fab fa-html5"></i> HTML5</h6>
                                    <div class="bar bar-html">
                                        <p>40%</p>
                                    </div>
                                </div>
                                <div class="skill css">
                                    <h6>
                                        <i class="fab fa-css3-alt"></i> CSS3
                                    </h6>
                                    <div class="bar bar-css">
                                        <p>40%</p>
                                    </div>
                                </div>
                                <div class="skill javascript">
                                    <h6>
                                        <i class="fab fa-js"></i> JavaScript
                                    </h6>
                                    <div class="bar bar-js">
                                        <p>90%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="ds-top"></div>
                            <div class="avatar-holder">
                                <img src="../images/avt_1.jpg" alt="GD" />
                            </div>
                            <div class="name">
                                <a href="" target="_blank">Võ Gia Đạt</a>
                                <h6 title="Followers">
                                    <i class="fas fa-users"></i>
                                    <span class="followers">2.012</span>
                                </h6>
                            </div>
                            <div class="button">
                                <a href="#" class="btn" onmousedown="follow();"
                                    >Follow <i class="fas fa-user-plus"></i
                                ></a>
                            </div>
                            <div class="ds-info">
                                <div class="ds pens">
                                    <h6
                                        title="Number of pens created by the user"
                                    >
                                        Pens <i class="fas fa-edit"></i>
                                    </h6>
                                    <p>30%</p>
                                </div>
                                <div class="ds projects">
                                    <h6
                                        title="Number of projects created by the user"
                                    >
                                        Projects
                                        <i class="fas fa-project-diagram"></i>
                                    </h6>
                                    <p>04</p>
                                </div>
                                <div class="ds posts">
                                    <h6 title="Number of posts">
                                        Posts <i class="fas fa-comments"></i>
                                    </h6>
                                    <p>04</p>
                                </div>
                            </div>
                            <div class="ds-skill">
                                <h6>
                                    Skill
                                    <i
                                        class="fa fa-code"
                                        aria-hidden="true"
                                    ></i>
                                </h6>
                                <div class="skill html">
                                    <h6><i class="fab fa-html5"></i> HTML5</h6>
                                    <div class="bar bar-html">
                                        <p>20%</p>
                                    </div>
                                </div>
                                <div class="skill css">
                                    <h6>
                                        <i class="fab fa-css3-alt"></i> CSS3
                                    </h6>
                                    <div class="bar bar-css">
                                        <p>40%</p>
                                    </div>
                                </div>
                                <div class="skill javascript">
                                    <h6>
                                        <i class="fab fa-js"></i> JavaScript
                                    </h6>
                                    <div class="bar bar-js">
                                        <p>05%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="card">
                            <div class="ds-top"></div>
                            <div class="avatar-holder">
                                <img src="../images/avt_2.jpg" alt="GD" />
                            </div>
                            <div class="name">
                                <a href="" target="_blank">Nguyễn Bảo Sanh</a>
                                <h6 title="Followers">
                                    <i class="fas fa-users"></i>
                                    <span class="followers">1.008</span>
                                </h6>
                            </div>
                            <div class="button">
                                <a href="#" class="btn" onmousedown="follow();"
                                    >Follow <i class="fas fa-user-plus"></i
                                ></a>
                            </div>
                            <div class="ds-info">
                                <div class="ds pens">
                                    <h6
                                        title="Number of pens created by the user"
                                    >
                                        Pens <i class="fas fa-edit"></i>
                                    </h6>
                                    <p>30%</p>
                                </div>
                                <div class="ds projects">
                                    <h6
                                        title="Number of projects created by the user"
                                    >
                                        Projects
                                        <i class="fas fa-project-diagram"></i>
                                    </h6>
                                    <p>04</p>
                                </div>
                                <div class="ds posts">
                                    <h6 title="Number of posts">
                                        Posts <i class="fas fa-comments"></i>
                                    </h6>
                                    <p>04</p>
                                </div>
                            </div>
                            <div class="ds-skill">
                                <h6>
                                    Skill
                                    <i
                                        class="fa fa-code"
                                        aria-hidden="true"
                                    ></i>
                                </h6>
                                <div class="skill html">
                                    <h6><i class="fab fa-html5"></i> HTML5</h6>
                                    <div class="bar bar-html">
                                        <p>40%</p>
                                    </div>
                                </div>
                                <div class="skill css">
                                    <h6>
                                        <i class="fab fa-css3-alt"></i> CSS3
                                    </h6>
                                    <div class="bar bar-css">
                                        <p>20%</p>
                                    </div>
                                </div>
                                <div class="skill javascript">
                                    <h6>
                                        <i class="fab fa-js"></i> JavaScript
                                    </h6>
                                    <div class="bar bar-js">
                                        <p>05%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
        <script src="../js/index.js" type="module"></script>
    </body>
</html>
