<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap-icon.css" />
        <link rel="stylesheet" href="../css/base.css" />
        <link rel="stylesheet" href="../css/style.css" />
        <title>MALE FASHION</title>
    </head>
    <body>
        <div class="show__loader">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <header>
            <div class="hd__modal">
                <div class="nav__mb">
                    <div class="nav__mb__log">
                        <img src="../images/male_mashion.png" alt="" />
                    </div>
                    <ul>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-house"></i>
                                    <span>Home</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-shop"></i>
                                    <span>Shop</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-newspaper"></i>
                                    <span>Blog</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-chat-left-quote"></i>
                                    <span>Contact</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hd__container container">
                <div class="hd__menu__icon">
                    <i class="bi bi-list"></i>
                </div>

                <div class="hd__logo">
                    <img src="../images/male_mashion.png" alt="" />
                </div>
                <div class="hd__nav">
                    <ul>
                        <li><a class="active" href="">Home</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="hd__auth">
                    <div class="hd__auth-icon">
                        <img
                            src="../bootstrap/bootstrapIcons/search.svg"
                            alt=""
                        />
                    </div>
                    <div class="hd__auth-icon">
                        <img
                            src="../bootstrap/bootstrapIcons/heart.svg"
                            alt=""
                        />
                    </div>
                    <div class="hd__auth-icon hd__cart">
                        <span>12</span>
                        <img src="../bootstrap/bootstrapIcons/bag.svg" alt="" />
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="proItem">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7">
                            <div class="proItem__grImgs">
                                <div class="proItem__mainImg">
                                    <div
                                        id="carouselExampleControls"
                                        class="carousel slide"
                                        data-bs-ride="carousel"
                                    >
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img
                                                    src="../images/prs_1.png"
                                                    class="d-block w-100"
                                                    alt="..."
                                                />
                                            </div>
                                            <div class="carousel-item">
                                                <img
                                                    src="../images/prs_2.png"
                                                    class="d-block w-100"
                                                    alt="..."
                                                />
                                            </div>
                                            <div class="carousel-item">
                                                <img
                                                    src="../images/prs_3.png"
                                                    class="d-block w-100"
                                                    alt="..."
                                                />
                                            </div>

                                            <div class="carousel-item">
                                                <img
                                                    src="../images/prs_4.png"
                                                    class="d-block w-100"
                                                    alt="..."
                                                />
                                            </div>
                                        </div>
                                        <button
                                            class="carousel-control-prev"
                                            type="button"
                                            data-bs-target="#carouselExampleControls"
                                            data-bs-slide="prev"
                                        >
                                            <span
                                                class="carousel-control-prev-icon"
                                                aria-hidden="true"
                                            ></span>
                                            <span class="visually-hidden"
                                                >Previous</span
                                            >
                                        </button>
                                        <button
                                            class="carousel-control-next"
                                            type="button"
                                            data-bs-target="#carouselExampleControls"
                                            data-bs-slide="next"
                                        >
                                            <span
                                                class="carousel-control-next-icon"
                                                aria-hidden="true"
                                            ></span>
                                            <span class="visually-hidden"
                                                >Next</span
                                            >
                                        </button>
                                    </div>
                                </div>
                                <div class="proItem__smaiImgs">
                                    <img
                                        src="../images/prs_1.png"
                                        alt=""
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide-to="0"
                                    />
                                    <img
                                        src="../images/prs_2.png"
                                        alt=""
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide-to="1"
                                    />
                                    <img
                                        src="../images/prs_3.png"
                                        alt=""
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide-to="2"
                                    />

                                    <img
                                        src="../images/prs_4.png"
                                        alt=""
                                        data-bs-target="#carouselExampleControls"
                                        data-bs-slide-to="3"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-5">
                            <div class="proItem__if">
                                <h2>ÁO POLO CỔ ĐỨC</h2>
                                <div class="proItem__id__rt">
                                    <div class="prI__id">
                                        <span>SKU: 57E3345</span>
                                    </div>
                                    <div class="prI__rt">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <span>(0 đánh giá)</span>
                                    </div>
                                </div>
                                <h3 class="price">790.000đ</h3>
                                <div class="prI__color">
                                    <h3>Màu sắc: Xanh Cổ Vịt Đậm</h3>
                                    <div class="prI__color__select">
                                        <button class="bg-primary text-white">
                                            <i class="bi bi-check"></i>
                                        </button>
                                        <button class="bg-black"></button>
                                    </div>
                                </div>
                                <div class="prI__size">
                                    <div class="prI__size__btns">
                                        <button>S</button>
                                        <button>M</button>
                                        <button>L</button>
                                        <button>XL</button>
                                        <button>XXL</button>
                                    </div>
                                    <div class="prI__checkSize">
                                        <i class="bi bi-eraser"></i>
                                        <p>Kiểm tra size của bạn</p>
                                    </div>
                                </div>

                                <div class="prI__qty">
                                    <p>Số lượng</p>
                                    <div class="prI__qty__input">
                                        <button class="prI__icon__plus">
                                            <i class="bi bi-plus-lg"></i>
                                        </button>
                                        <input type="text" value="1" />
                                        <button class="prI__icon__dash">
                                            <i class="bi bi-dash-lg"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="prI__btns">
                                    <button class="active addToCart">
                                        Thêm vào giỏ hàng
                                    </button>
                                    <button class="buy__pr">Mua Hàng</button>
                                    <button class="iconHearth">
                                        <i class="bi bi-suit-heart"></i>
                                    </button>
                                </div>

                                <div class="prI__desc">
                                    <div class="prI__desc-head">
                                        <ul class="">
                                            <li class="prI__desc-r-1 active">
                                                Giới Thiệu
                                            </li>
                                            <li class="prI__desc-r-2">
                                                Chi Tiết Sản Phẩm
                                            </li>
                                            <li class="prI__desc-r-3">
                                                Bảo Quản
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="prI__desc-r" id="prI__desc-r-1">
                                        <div class="prI__desv-ct">
                                            <p>
                                                Áo cổ đức tay ngắn với chiều dài
                                                vừa phải và chất liệu thun co
                                                dãn thoải mái sẽ là lựa chọn lí
                                                tưởng cho những buổi hẹn hò, đi
                                                chơi, phù hợp cả khi mặc đi làm
                                                và đi học.
                                            </p>
                                            <p>
                                                Form dáng trẻ trung năng động
                                                kèm họa tiết kéo dọc từ cổ áo
                                                đến thân tạo nên sự mới mẻ nhưng
                                                không kém phần lịch sự giúp ghi
                                                điểm trong mắt đối phương.
                                            </p>
                                            <p>
                                                Màu sắc: Bạc Hà - Xanh Tím Than
                                            </p>
                                            <h5><span>Mẫu mặc size L</span></h5>
                                            <h5>
                                                <span>Chiều cao:</span>
                                                <small> 1m77</small>
                                            </h5>
                                            <h5>
                                                <span>Cân nặng:</span>
                                                <small> 68kg</small>
                                            </h5>
                                            <h5>
                                                <span>Số đo 3 vòng: </span>
                                                <small>94-86-98 cm</small>
                                            </h5>
                                        </div>
                                        <div class="prI__desc-f">
                                            <div
                                                class="prI__desc-icon pri-down-icon"
                                                style="display: none"
                                            >
                                                <i
                                                    class="bi bi-chevron-down"
                                                ></i>
                                            </div>
                                            <div
                                                class="prI__desc-icon pri-up-icon"
                                            >
                                                <i class="bi bi-chevron-up"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="prI__desc-r"
                                        id="prI__desc-r-2"
                                        style="display: none"
                                    >
                                        <div class="prI__desv-ct">
                                            <h4>
                                                <span>Dòng sản phẩm:</span>
                                                <small> men</small>
                                            </h4>
                                            <h4>
                                                <span>Nhóm sản phẩm :</span>
                                                <small> Áo</small>
                                            </h4>
                                            <h4>
                                                <span>Cổ áo:</span>
                                                <small> Cổ đức</small>
                                            </h4>
                                            <h4>
                                                <span>Kiểu dáng:</span>
                                                <small> Khác</small>
                                            </h4>
                                            <h4>
                                                <span>Độ dài:</span>
                                                <small> Dài thường</small>
                                            </h4>
                                            <h4>
                                                <span>Họa tiết :</span>
                                                <small>Trơn</small>
                                            </h4>
                                            <h4>
                                                <span>Chất liệu :</span>
                                                <small> Thun</small>
                                            </h4>
                                        </div>
                                        <div class="prI__desc-f">
                                            <div
                                                class="prI__desc-icon pri-down-icon"
                                                style="display: none"
                                            >
                                                <i
                                                    class="bi bi-chevron-down"
                                                ></i>
                                            </div>
                                            <div
                                                class="prI__desc-icon pri-up-icon"
                                            >
                                                <i class="bi bi-chevron-up"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="prI__desc-r"
                                        id="prI__desc-r-3"
                                        style="display: none"
                                    >
                                        <div class="prI__desv-ct">
                                            <p>Chi tiết bảo quản sản phẩm :</p>
                                            <p>
                                                * Vải dệt kim : sau khi giặt sản
                                                phẩm phải được phơi ngang tránh
                                                bai dãn.
                                            </p>
                                            <p>
                                                * Vải voan , lụa , chiffon nên
                                                giặt bằng tay.
                                            </p>
                                            <p>
                                                * Vải thô , tuytsy , kaki không
                                                có phối hay trang trí đá cườm
                                                thì có thể giặt máy.
                                            </p>
                                            <p>
                                                * Vải thô , tuytsy, kaki có phối
                                                màu tường phản hay trang trí
                                                voan , lụa , đá cườm thì cần
                                                giặt tay.
                                            </p>
                                            <p>
                                                * Đồ Jeans nên hạn chế giặt bằng
                                                máy giặt vì sẽ làm phai màu
                                                jeans.Nếu giặt thì nên lộn trái
                                                sản phẩm khi giặt , đóng khuy ,
                                                kéo khóa, không nên giặt chung
                                                cùng đồ sáng màu , tránh dính
                                                màu vào các sản phẩm khác.
                                            </p>
                                            <p>
                                                * Các sản phẩm cần được giặt
                                                ngay không ngâm tránh bị loang
                                                màu , phân biệt màu và loại vải
                                                để tránh trường hợp vải phai.
                                                Không nên giặt sản phẩm với xà
                                                phòng có chất tẩy mạnh , nên
                                                giặt cùng xà phòng pha loãng.
                                            </p>
                                            <p>
                                                * Các sản phẩm có thể giặt bằng
                                                máy thì chỉ nên để chế độ giặt
                                                nhẹ , vắt mức trung bình và nên
                                                phân các loại sản phẩm cùng màu
                                                và cùng loại vải khi giặt.
                                            </p>
                                            <p>
                                                * Nên phơi sản phẩm tại chỗ
                                                thoáng mát , tránh ánh nắng trực
                                                tiếp sẽ dễ bị phai bạc màu , nên
                                                làm khô quần áo bằng cách phơi ở
                                                những điểm gió sẽ giữ màu vải
                                                tốt hơn.
                                            </p>
                                            <p>
                                                * Những chất vải 100% cotton ,
                                                không nên phơi sản phẩm bằng mắc
                                                áo mà nên vắt ngang sản phẩm lên
                                                dây phơi để tránh tình trạng rạn
                                                vải.
                                            </p>
                                            <p>
                                                * Khi ủi sản phẩm bằng bàn là và
                                                sử dụng chế độ hơi nước sẽ làm
                                                cho sản phẩm dễ ủi phẳng , mát
                                                và không bị cháy , giữ màu sản
                                                phẩm được đẹp và bền lâu hơn.
                                                Nhiệt độ của bàn là tùy theo
                                                từng loại vải.
                                            </p>
                                        </div>
                                        <div class="prI__desc-f">
                                            <div
                                                class="prI__desc-icon pri-down-icon"
                                                style="display: none"
                                            >
                                                <i
                                                    class="bi bi-chevron-down"
                                                ></i>
                                            </div>
                                            <div
                                                class="prI__desc-icon pri-up-icon"
                                            >
                                                <i class="bi bi-chevron-up"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prI__client row">
                        <h3>KHÁCH HÀNG ĐÁNH GIÁ</h3>
                        <div class="col-12 col-lg-5">
                            <div class="prI__rate">
                                <div class="prI__num">
                                    <h4>5</h4>
                                    <div class="prI__num-r">
                                        <div class="prI__num-r-rts">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                        </div>
                                        <span>(0 Đánh Giá)</span>
                                    </div>
                                </div>

                                <div class="prI__rate-row">
                                    <div
                                        class="prI__rate-row-rts d-flex text-warning"
                                    >
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <!-- <i class="bi bi-star"></i> -->
                                    </div>
                                    <div class="prI__rate-line"></div>
                                    <p>5</p>
                                </div>
                                <div class="prI__rate-row">
                                    <div
                                        class="prI__rate-row-rts d-flex text-warning"
                                    >
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                    <div class="prI__rate-line"></div>
                                    <p>4</p>
                                </div>
                                <div class="prI__rate-row">
                                    <div
                                        class="prI__rate-row-rts d-flex text-warning"
                                    >
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                    <div class="prI__rate-line"></div>
                                    <p>3</p>
                                </div>
                                <div class="prI__rate-row">
                                    <div
                                        class="prI__rate-row-rts d-flex text-warning"
                                    >
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>

                                        <i class="bi bi-star"></i>
                                    </div>
                                    <div class="prI__rate-line"></div>
                                    <p>2</p>
                                </div>
                                <div class="prI__rate-row">
                                    <div
                                        class="prI__rate-row-rts d-flex text-warning"
                                    >
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                    <div class="prI__rate-line"></div>
                                    <p>1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-7">
                            <div class="prI__client-r">
                                <div class="prI__rt-img">
                                    <img
                                        src="../images/image_star_smile.png"
                                        alt=""
                                    />
                                </div>
                                <p>
                                    Sản phẩm chưa có đánh giá. Hãy là người đầu
                                    tiên đánh giá sản phẩm này !
                                </p>
                                <button>Đánh giá sản phẩm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="ft__box">
                            <div class="ft-logo">
                                <img src="../images/lg_remove_bn.png" alt="" />
                            </div>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Eligendi, ipsa. Voluptate
                                possimus recusandae modi officia doloribus
                                mollitia perspiciatis, facere eveniet aspernatur
                                sapiente! Eius, tempora explicabo vero officia
                                eaque quo quasi.
                            </p>
                            <div class="ft__cards d-flex gap-2">
                                <div class="ft__card-img">
                                    <img src="../images/ft_1.png" alt="" />
                                </div>
                                <div class="ft__card-img">
                                    <img src="../images/ft_2.png" alt="" />
                                </div>
                                <div class="ft__card-img">
                                    <img src="../images/ft_3.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="ft__box">
                            <h3>SHOPPING</h3>
                            <a href="">Clothing Store</a>
                            <a href="">Accessories</a>
                            <a href="">Sale</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="ft__box">
                            <h3>SHOPPING</h3>
                            <a href="">Contact us</a>
                            <a href="">Payment method</a>
                            <a href="">Delivery</a>
                            <a href="">Return & Exchange</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="ft__box">
                            <h3>NEWLETTER</h3>
                            <p>
                                Be the first to know about new arrivals, look
                                books, sales & promos!
                            </p>
                            <form action="">
                                <input
                                    type="text"
                                    placeholder="Your Email"
                                    name=""
                                    id=""
                                />
                                <i class="bi bi-chat-dots"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
        <script src="../js/index.js" type="module"></script>
        <script src="../src/ProsuctItem/index.js" type="module"></script>
    </body>
</html>
