<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap-icon.css" />
        <link rel="stylesheet" href="../css/base.css" />
        <link rel="stylesheet" href="../css/style.css" />
        <title>MALE FASHION</title>
    </head>
    <body>
        <div class="show__loader">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <header>
            <div class="hd__modal">
                <div class="nav__mb">
                    <div class="nav__mb__log">
                        <img src="../images/male_mashion.png" alt="" />
                    </div>
                    <ul>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-house"></i>
                                    <span>Home</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-shop"></i>
                                    <span>Shop</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-newspaper"></i>
                                    <span>Blog</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <div class="nav__link-left">
                                    <i class="bi bi-chat-left-quote"></i>
                                    <span>Contact</span>
                                </div>
                                <i class="bi bi-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hd__container container">
                <div class="hd__menu__icon">
                    <i class="bi bi-list"></i>
                </div>

                <div class="hd__logo">
                    <img src="../images/male_mashion.png" alt="" />
                </div>
                <div class="hd__nav">
                    <ul>
                        <li><a class="active" href="">Home</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="hd__auth">
                    <div class="hd__auth-icon">
                        <img
                            src="../bootstrap/bootstrapIcons/search.svg"
                            alt=""
                        />
                    </div>
                    <div class="hd__auth-icon">
                        <img
                            src="../bootstrap/bootstrapIcons/heart.svg"
                            alt=""
                        />
                    </div>
                    <div class="hd__auth-icon hd__cart">
                        <span>12</span>
                        <img src="../bootstrap/bootstrapIcons/bag.svg" alt="" />
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="shop">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <div class="side-bar__shop">
                                <div class="sb__shop-head">
                                    <h3>Trang chủ - Hàng nam mới về</h3>
                                </div>
                                <div class="sb__shop-body">
                                    <div class="sb__shop-op">
                                        <div class="sb__shop-view">
                                            <span>Size</span>
                                            <i
                                                class="bi bi-plus-lg plus-icon"
                                            ></i>
                                            <i
                                                class="bi bi-dash-lg dash-icon"
                                            ></i>
                                        </div>
                                        <div class="sb__shop-choices">
                                            <div class="sb__shop-choices-btngr">
                                                <span>S</span>
                                                <span>M</span>
                                                <span>L</span>
                                                <span>XL</span>
                                                <span>XXL</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sb__shop-op">
                                        <div class="sb__shop-view">
                                            <span>Màu sắc</span>
                                            <i
                                                class="bi bi-plus-lg plus-icon"
                                            ></i>
                                            <i
                                                class="bi bi-dash-lg dash-icon"
                                            ></i>
                                        </div>
                                    </div>
                                    <div class="sb__shop-op">
                                        <div class="sb__shop-view">
                                            <span>Mức giá</span>
                                            <i
                                                class="bi bi-plus-lg plus-icon"
                                            ></i>
                                            <i
                                                class="bi bi-dash-lg dash-icon"
                                            ></i>
                                        </div>
                                    </div>
                                    <div class="sb__shop-op">
                                        <div class="sb__shop-view">
                                            <span>Mức chiết khấu</span>
                                            <i
                                                class="bi bi-plus-lg plus-icon"
                                            ></i>
                                            <i
                                                class="bi bi-dash-lg dash-icon"
                                            ></i>
                                        </div>
                                    </div>
                                    <div class="sb__shop-op">
                                        <div class="sb__shop-view">
                                            <span>Nâng cao</span>
                                            <i
                                                class="bi bi-plus-lg plus-icon"
                                            ></i>
                                            <i
                                                class="bi bi-dash-lg dash-icon"
                                            ></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="sb__shop-buttions">
                                    <button>Bỏ Lọc</button>
                                    <button class="bl">Lọc</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-9">
                            <h3 class="text-secondary fs-3 fw-bolder pt-3">
                                Hàng nam mới về
                            </h3>
                            <div class="products mt-5 mb-5">
                                <div class="container">
                                    <div class="prs__cards row">
                                        <!-- show product list in js -->
                                    </div>
                                </div>
                            </div>

                            <div
                                class="pagination d-flex justify-content-center"
                            >
                                <button>Privous</button>
                                <button class="active">1</button>
                                <button>2</button>
                                <button>...</button>
                                <button>9</button>
                                <button>next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3">
                        <div class="ft__box">
                            <div class="ft-logo">
                                <img src="../images/lg_remove_bn.png" alt="" />
                            </div>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Eligendi, ipsa. Voluptate
                                possimus recusandae modi officia doloribus
                                mollitia perspiciatis, facere eveniet aspernatur
                                sapiente! Eius, tempora explicabo vero officia
                                eaque quo quasi.
                            </p>
                            <div class="ft__cards d-flex gap-2">
                                <div class="ft__card-img">
                                    <img src="../images/ft_1.png" alt="" />
                                </div>
                                <div class="ft__card-img">
                                    <img src="../images/ft_2.png" alt="" />
                                </div>
                                <div class="ft__card-img">
                                    <img src="../images/ft_3.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="ft__box">
                            <h3>SHOPPING</h3>
                            <a href="">Clothing Store</a>
                            <a href="">Accessories</a>
                            <a href="">Sale</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="ft__box">
                            <h3>SHOPPING</h3>
                            <a href="">Contact us</a>
                            <a href="">Payment method</a>
                            <a href="">Delivery</a>
                            <a href="">Return & Exchange</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="ft__box">
                            <h3>NEWLETTER</h3>
                            <p>
                                Be the first to know about new arrivals, look
                                books, sales & promos!
                            </p>
                            <form action="">
                                <input
                                    type="text"
                                    placeholder="Your Email"
                                    name=""
                                    id=""
                                />
                                <i class="bi bi-chat-dots"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="../src/Shop/index.js" type="module"></script>
        <script src="../bootstrap/js/bootstrap.min.js"></script>
        <script src="../js/index.js" type="module"></script>
    </body>
</html>
